# class and project files
*.class
*.pom
*.xml
*.properties
*.log
#*.txt
*.bat
*.ini

# Package Files #
*.jar
*.war
*.ear
javascript/nodejs/node_modules/
javascript/nodejs/node_modules/*
javascript/nodejs/node_modules/**
